html, body, div{
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  justify-content: center;
}

#stage{
    /* background: url("../images/css_animation_exercise_4.png") no-repeat center center; */
    background-size: cover;
    height: 600px;
    width: 600px;
}
#hero{
  position: relative;
  width: 75px;
  height: 75px;
  border: dashed 1px red;
  top: 19px;
  left: 19px;
  animation-name: hero;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes hero {
  0% {
      left: 19px;
      border: dashed 1px red;
      border-radius: 0%;
    }
  20% {
      width: 74px;
      height: 73px;
      top: 19px;
      left: 500px;
      border: dashed 1px red;
      border-radius: 0%;
  }
  40% {
      width: 74px;
      height: 73px;
      top: 200px;
      left: 500px;
      transform: rotate(0deg);
      border: dashed 1px red;
      border-radius: 0%;
  }
  41%, 50% {
      width: 74px;
      height: 73px;
      top: 200px;
      left: 270px;
      transform: rotate(45deg);
      border: dashed 1px red;
      border-radius: 0%;
  }
  55% {
    width: 73px;
    height: 73px;
    top: 200px;
    left: 19px;
    transition: rotate(0deg);
    border: dashed 1px blue;
    border-radius: 0%;
    background: none;
    transform: scale(1);
  }
  75%{
    width: 75px;
    height: 75px;
    top: 480px;
    left: 480px;
    transition: rotate(0deg);
    border: none;
    border-radius: 50%;
    background: radial-gradient(#FBDA61, #F76B1c);
    transform: scale(2);
  }
  100%{
    width: 75px;
    height: 75px;
    top: 480px;
    left: 480px;
    transition: rotate(0deg);
    border: none;
    border-radius: 50%;
    background: radial-gradient(#FBDA61, #F76B1c);
    transform: scale(2);
  }
}
